@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');

@import "variables";

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

p {
  line-height: 20px;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  color: slategray;
}

ul,
ol,
li {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

img  {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #2c2c2c;
  font-family: 'Oswald', sans-serif;
}

html,
body {
  height: 100%;
  line-height: 1;
  font-size: 14px;
  font-weight: 500;
  color: #000;
  background-color: #fafafa;
  z-index: -4;
}

main {
  padding-top: 63px;
}
input {
  outline: none;
}

textarea{
  outline: none;
}
body.lock {
  overflow: hidden;
}

@media (max-width: 746px) {
  main {
padding-top: 50px;
  }
}

.wrapper {
  display: flex;
  min-height: 100%;
  overflow: hidden;
  flex-direction: column;
}

.container {
  max-width: 1240px;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
}






